<div class="manager-product">
    <button type="button" class="btn btn-success">+ Thêm sản phẩm mới</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Thương hiệu</th>
                <th>Đơn giá</th>
                <th>Điều chỉnh</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{idsanpham}}</td>
                <td>{{tensanpham}}</td>
                <td>{{nhasanxuat}}</td>
                <td>{{gia}}</td>
                <td>
                    <a href="/admin/quanlysanpham/edit/{{idsanpham}}" class="btn btn-info">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <form style="display:inline-block">
                        <a href="" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>