<div class="container">
	<div class="row">
		<div class="col-md-4 products-left">
			<div class="css-treeview">
				<h4>THÔNG TIN TÌM KIẾM</h4>
				<ul class="tree-list-pad">
					<li>

						<label for="item-0" style="cursor: default;color: #cf0707;">TÊN SẢN PHẨM</label>
						<div style="margin-left:45px"> Canon</div>

					</li>
					<li>

						<label for="item-0" style="cursor: default;color: #cf0707;">MỨC GIÁ</label>
						<div style="margin-left:45px"> 12.000.000- 50.000.000</div>
					</li>
					<li>

						<label for="item-1" style="cursor: default;color: #cf0707;">THƯƠNG HIỆU</label>
						<div style="margin-left:45px"> Kodak</div>
					</li>
					<li>

						<label for="item-2" style="cursor: default;color: #cf0707;">LOẠI SẢN PHẨM</label>
						<div style="margin-left:45px"> pornhub.com</div>
					</li>
					<li>

						<label for="item-2" style="cursor: default;color: #cf0707;">XUẤT XỨ</label>
						<div style="margin-left:45px"> Yamateeee</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-8 products-right">
			<p class="amount-product">Tìm được
				<span>{{amount}}</span> sản phẩm.</p>
			{{#each products}}
			<div class="col-md-6 product-cell">
				<div class="men-pro-item simpleCart_shelfItem">
					<div class="men-thumb-item">
						<img src="/product/{{idsanpham}}/{{img}}" class="pro-image-front" style="height: 300px">
						<img src="/product/{{idsanpham}}/{{img}}" class="pro-image-back" style="height: 300px">
						<div class="men-cart-pro">
							<div class="inner-men-cart-pro">
								<a href="/product/{{idsanpham}}" class="link-product-add-cart">Xem chi tiết</a>
							</div>
						</div>
					</div>
					<div class="item-info-product ">
						<h4>
							<a href="/product/{{idsanpham}}">{{tensanpham}}</a>
						</h4>
						<div class="info-product-price">
							<span class="item_price">{{gia_f}} VND</span>
						</div>
						<div style="text-align: center; font-size: 0.9em;">
							<span class="nview glyphicon glyphicon-eye-open"></span>
							<span class="nview">{{luotxem}}</span>
							<span>
								&nbsp; &nbsp; &nbsp; &nbsp;
							</span>
							<span class="nsold glyphicon glyphicon-check"></span>
							<span class="nsold">{{luotban}}</span>
						</div>
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
							<form action="#" method="post">
								<fieldset>
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="business" value=" " />
									<input type="hidden" name="item_name" value="Formal Blue Shirt" />
									<input type="hidden" name="amount" value="30.99" />
									<input type="hidden" name="discount_amount" value="1.00" />
									<input type="hidden" name="currency_code" value="USD" />
									<input type="hidden" name="return" value=" " />
									<input type="hidden" name="cancel_return" value=" " />
									<input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
			<div class="clearfix"></div>
			<div style="text-align: center">
				<ul class="pagination">
					{{{pages}}}
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>